* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

.navbar {
    z-index: 1;
}

ion-icon {
    font-size: 25px;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    background-color: transparent;
}

.profile-card {
    min-height: 100vh;
    position: relative;
    top: -100px;
    min-width: 450px;
    height: 600px;
}

.profile-card-image {
    opacity: 0.5;
}

.card-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
}

.card-head-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hover-content {
    position: absolute;
    inset: 0;
    background: #000000ee;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    opacity: 0;
    animation-name: opacityEfect;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 15s;
    animation-delay: 1s;
}


/* .card-head:hover .hover-content {
    opacity: 1;
} */

.card-title {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    opacity: 0;
    animation-name: opacityEfect;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 15s;
    animation-delay: 1s;
}

.card-subtitle {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 50px;
    opacity: 0;
    animation-name: opacityEfect;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 15s;
    animation-delay: 1s;
}

.social-link {
    font-size: 26px;
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    animation-name: opacityEfect;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 15s;
    animation-delay: 1s;
}

.hover-content .card-title,
.hover-content .card-subtitle,
.hover-content .social-link {
    opacity: 1;
}


/* .card-head:hover .card-title,
.card-head:hover .card-subtitle,
.card-head:hover .social-link {
} */

.social-link ion-icon {
    cursor: pointer;
    transition: 0.1s;
}

.social-link ion-icon:hover {
    opacity: 0.8;
}

.principal-info {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #f1f1f1;
}

.principal-info h4 {
    font-size: 30px;
}

.principal-info p {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #f1f1f1;
}

a:hover {
    text-decoration: none;
    color: #f1f1f1;
}

@media screen and (max-width: 600px) {
    .principal-info {
        width: 70%;
        bottom: -30px;
    }
}

@keyframes opacityEfect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}